/* main body */
main {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* 1fr divides the space equally */
    gap: 20px;
    padding: 20px;
}

@media (max-width: 1750px) {
    .book-container {
        grid-template-columns: repeat(6, 1fr);
        /* 4 columns on medium screens */
    }
}

@media (max-width: 1540px) {
    .book-container {
        grid-template-columns: repeat(5, 1fr);
        /* 4 columns on medium screens */
    }
}

@media (max-width: 1320px) {
    .book-container {
        grid-template-columns: repeat(4, 1fr);
        /* 4 columns on medium screens */
    }
}

@media (max-width: 1100px) {
    .book-container {
        grid-template-columns: repeat(3, 1fr);
        /* 2 columns on small screens */
    }
}

@media (max-width: 890px) {
    .book-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on small screens */
    }
}

@media (max-width: 670px) {
    .book-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on small screens */
    }
}

@media (max-width: 440px) {
    .book-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on small screens */
    }
    
    .book-card {
        min-width: 100px;
    }
    
    .cover {
        height: 300px;
    }
    
    .cover img {
        height: 300px;
    }
}
/* Initially hide the popup */
.download-now-page {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color); /* Dark background */
    z-index: 500; /* Ensure it's above other content */
  }
  
.download-now-page #downloadNowLink {
    color: var(--text-color);
    text-decoration: none;
    font-size: 40px;
    padding: 20px 30px;
    background: var(--main-color);
    border-radius: 10px;
}

.download-now-page .port-ad {
    position: fixed;
    display: flex;
    align-items: center;
}

.download-now-page .port-ad-1 {
    top: 0;
}
  

.download-now-page .port-ad-2 {
    bottom: 0;
}
  
.download-now-page button {
    width: 60px;
    height: 60px;
    border: none;
    background: var(--bg-color);
    box-shadow: 0 0 50px #1f1f1f57;
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    z-index: 100;
}

@media (max-width: 890px) {
    .download-now-page {
       flex-direction: column;
    }
}

@media (max-width: 1700px) {
    .download-now-page .port-ad {
        flex-direction: column;
    }
}