/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* About Container Styles */
.about-container {
    width: 90%;
    max-width: 800px;
    padding: 10rem 2rem 2rem 2rem;
    /* background: var(--bg-color); */
    border-radius: 10px;
}

.about-container h1, .about-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--text-color)            ;
}

.about-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.about-container h1, .about-container h2, .about-container p {
    background: var(--bg-color);
    box-shadow: var(--shadow-light);
    padding: 1rem;
    border-radius: 10px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: var(--bg-color);
    font-size: 1rem;
    border-top: 1px solid #444;
}
