
main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    min-width: 60%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 2rem;
    overflow-y: scroll;
    padding: 2rem 0 7rem 0;
}

.container::-webkit-scrollbar {
    display: none;
}

.container a{
    position: relative;
    border-radius: 10px;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    object-fit: cover;
    min-height: 10rem;
}

.container a div {
    width: 100%;    
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.container a h1 {
    opacity: 0%;
    position: absolute;
    font-size: 40px;
    color: var(--bg-color);
    background: linear-gradient(360deg, #00000057, #00000000);
    bottom: 0;
    padding: 0.5rem 1rem;
    border-radius: 0 0 10px 10px;
    width: 100%;
    /* transform: translateY(1rem); */
}

.container a:hover h1 {
    opacity: 100%;
    transform: translateY(0);
}

.thriller-link {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.thriller-box {
    background-image: url(/img/thriller.jpg);
}

.historical-link {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}

.historical-box {
    background-image: url(/img/historical.jpg);
}

.romance-link {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 3;
}

.romance-box {
    background-image: url(/img/romance.jpg);
}

.adventure-link {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 6;
    grid-row-start: 1;
}

.adventure-box {
    background-image: url(/img/adventure.jpg);
}

.kids-link {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
}

.kids-box {
    background-image: url(/img/kids.jpg);
}

.magazine-link {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 4;
}

.magazine-box {
    background-image: url(/img/magazine.jpg);
}

.non-fiction-link {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 1;
}

.non-fiction-box {
    background-image: url(/img/non-fiction.jpg);
}

.horror-link {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 6;
    grid-row-start: 5;
}

.horror-box {
    background-image: url(/img/horror.jpg);
}

.fiction-link {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 6;
}

.fiction-box {
    background-image: url(/img/fiction.jpg);
}

.self-help-link {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 6;
}

.self-help-box {
    background-image: url(/img/self-help.jpg);
}

@media (max-width: 1100px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(16, 1fr);
        gap: 8px;
    }

    .container a h1 {
        font-size: 30px;
        opacity: 100%;
    }
        
    .thriller-link {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }
    
    .romance-link {
        grid-column: 2 / 3;
        grid-row: 1 / 5;
    }
    
    .horror-link {
        grid-column: 1 / 2;
        grid-row: 4 / 7;
    }
    
    .fiction-link {
        grid-column: 2 / 3;
        grid-row: 5 / 9;
    }
    
    .adventure-link {
        grid-column: 1 / 2;
        grid-row: 7 / 10;
    }
    
    .historical-link {
        grid-column: 2 / 3;
        grid-row: 9 / 11;
    }
    
    .magazine-link {
        grid-column: 1 / 2;
        grid-row: 10 / 12;
    }
    
    .non-fiction-link {
        grid-column: 2 / 3;
        grid-row: 11 / 14;
    }
    
    .kids-link {
        grid-column: 1 / 2;
        grid-row: 12 / 16;
    }
    
    .self-help-link {
        grid-column: 2 / 3;
        grid-row: 14 / 16;
    }
}

@media (max-width: 650px) {
    .container {
        width: 90%;
    }
}