/* main body */
main {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    width: 100%;
    height: 30vh;
}

.search-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    gap: 20px;
    margin-bottom: 10px;
}

.search-container h1 img {
    width: 100px;
    border-radius: 10px;
    background: var(--main-color);
}

/* Search bar container */
.search-bar {
    position: relative;
    width: 600px;
    height: 70px;
    background: #f9f9f9;
    border-radius: 100px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

/* Input field */
.search-bar input {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    color: #333;
    font-size: 16px;
    padding: 2rem; /* To ensure input doesn't overlap the button */
}

.search-bar input::placeholder {
    color: #888;
}

/* Search button */
.search-bar button {
    position: absolute;
    right: 10px; /* Positioned inside the search bar */
    top: 50%;
    transform: translateY(-50%);
    background: var(--main-color); /* Pink color for the button */
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-bar button i {
    color: #fff;
    font-size: 28px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .search-container h1 {
        font-size: 3rem;
        gap: 10px;
    }

    .search-container h1 img {
        width: 80px;
    }
}

@media (max-width: 480px) {
    .search-container h1 {
        font-size: 3rem;
        gap: 5px;
    }

    .search-container h1 img {
        width: 60px;
    }

    .search-container .search-bar input {
        font-size: 14px;
    }

    .search-container .search-bar button {
        font-size: 20px;
    }
}

.book-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Maintain the grid */
    gap: 20px;
    padding: 20px;
}

@media (max-width: 440px) {
    .book-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on small screens */
    }
    
    .book-card {
        min-width: 100px;
    }
    
    .cover {
        height: 300px;
    }
    
    .cover img {
        height: 300px;
    }
}


@media (max-width: 890px) {
    .download-now-page {
       flex-direction: column;
    }
}

@media (max-width: 1700px) {
    .download-now-page .port-ad {
        flex-direction: column;
    }
}

@media (max-width: 835px) {
    .book-container {
        grid-template-columns: repeat(2, 1fr);
        /* 4 columns on medium screens */
    }
}


@media (max-width: 650px) {
    .search-container {
        height: 20vh;
    }

    .search-container .search-bar {
        width: 90%;
        /* flex-direction: column; */
        gap: 10px;
    }

    .search-container .search-bar input {
        width: 90%;
        font-size: 16px;
    }

    .search-container .search-bar button {
        /* width: 10%; */
        height: 50px;
        height: 50px;
        font-size: 24px;
    }
}

